html
{
    scroll-behavior: smooth;
}
section
{
    height: 100vh;
}

.blue{background-color: #00f;}
.red{background-color: #f00;}
.green{background-color: #0f0;}

header,footer{
    color: #fff;
    text-align: center;
    height: 100px;
    
}

header
{
    position: sticky;
    top:0;
    font-size: 5rem;
}

footer
{
    background-color: #000;
    position: sticky;
    bottom: 0;
    font-size: 5rem;
}

a:visited
{
    color: #fff;
}

.social
{
    background: royalblue;
    color: #fff;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}