@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
body
{
    background-color: #f5b700;
    font-size: 5em;
}
table,tr,th,td
{
    border-radius: 50%;
    font-family: 'Rubik Puddles', cursive;
    text-align: center;
    border-collapse: collapse;
    padding: 0.5em;
    margin: auto;
}

a
{
    color: black;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

a:hover , a:focus
{
    color: black;
    opacity: 0.8;
    background-color: #d6a229;
    display: block;
    border-radius: 100%;
}
th
{
    background-color: #d19c1d;
    display: block;
    
}
.foot
{
    text-align: center;
    color: black;
   
}




